body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #fff;
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
    
}

.container {
    text-align: center;
    width: 100%;
    max-width: 400px;
    position: relative;
    z-index: 10;

}

h2 {
    color: #FAAF32;
    margin-bottom: 30px;
}

.border-gradient {
    padding: 2px;
    background: linear-gradient(to right, #2B6ED6, #FAAF32);
    border-radius: 20px;
}

.form-box {
    background-color: #fff;
    padding: 30px;
    border-radius: 18px;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
}

.form-box p{
    color: #FAAF32;
    margin-top: -10px;
}

input {
    width: 100%;
    margin-bottom: 12px;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #FAAF32;
    outline: none;
    font-size: 14px;
}

.slider-button {
    background-color: #2B6ED6;
    color: #fff;
    border: none;
    padding: 10px 16px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin: 0 auto;
}

.switch {
    display: inline-block;
    width: 24px;
    height: 14px;
    background-color: #fff;
    border-radius: 10px;
    position: relative;
}

.switch::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    left: 2px;
    top: 2px;
    background-color: #2B6ED6;
    border-radius: 50%;
    transition: 0.3s;
}

.link {
    margin-top: 10px;
    font-size: 12px;
    padding-top: 20px;
}

.link a {
    color: #2B6ED6;
    text-decoration: none;
}

.cat-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 0;
}

.cat-img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

.back-button {
      position: absolute;
      top: 20px;
      left: 20px;
      background-color: #f2f2f2;
      border: none;
      padding: 10px 15px;
      border-radius: 8px;
      cursor: pointer;
      font-size: 14px;
      transition: background-color 0.3s ease;
      z-index: 1000;
    }

.back-button:hover {
      background-color: #e0e0e0;
    }

    form p, form label {
    color: #FAAF32;
    font-size: 14px;
    text-align: left;
    display: block;
    margin-bottom: 8px;
}

form label input {
    margin-right: 8px;
}

#durasi {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #FAAF32;
    outline: none;
    font-size: 14px;
    margin-top: 5px;
}